.paginationBox {
    margin-left: 344px;
}

.left {
    padding-top: 5px;
    cursor: pointer;
}

.right {
    cursor: pointer;
}

.page {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: #a5a5a8;
    cursor: pointer;
}

.activePage {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #1a1b1d;
}

.perPageBox {
    margin-left: 205px;
}

.showText {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: right;
    color: #a5a5a8;
}
