.paginationBox {
    margin-left: 344px;
}

.left {
    padding-top: 5px;
}

.page {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: #a5a5a8;
}

.perPageBox {
    margin-left: 205px;
}

.showText {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: right;
    color: #a5a5a8;
}
