@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.g-root_theme_light {
    
    --g-font-family-sans: 'Inter', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    --g-font-family-monospace: 'DM Sans';
    --g-text-body-font-weight: 500;
    
    --g-text-caption-font-weight: 500;
    
    --g-text-header-font-weight: 700;
    
    --g-text-header-1-font-size: 32px;
    --g-text-header-1-line-height: 42px;
    
    --g-text-subheader-font-weight: 700;
    
    --g-text-subheader-1-font-size: 16px;
    --g-text-subheader-1-line-height: 24px;
    
    
    --g-color-private-white-50: rgba(255,255,255,0.05);
        --g-color-private-white-70: rgba(255,255,255,0.07);
        --g-color-private-white-100: rgba(255,255,255,0.1);
        --g-color-private-white-150: rgba(255,255,255,0.15);
        --g-color-private-white-200: rgba(255,255,255,0.2);
        --g-color-private-white-250: rgba(255,255,255,0.25);
        --g-color-private-white-300: rgba(255,255,255,0.3);
        --g-color-private-white-350: rgba(255,255,255,0.35);
        --g-color-private-white-400: rgba(255,255,255,0.4);
        --g-color-private-white-450: rgba(255,255,255,0.45);
        --g-color-private-white-500: rgba(255,255,255,0.5);
        --g-color-private-white-550: rgba(255,255,255,0.55);
        --g-color-private-white-600: rgba(255,255,255,0.6);
        --g-color-private-white-650: rgba(255,255,255,0.65);
        --g-color-private-white-700: rgba(255,255,255,0.7);
        --g-color-private-white-750: rgba(255,255,255,0.75);
        --g-color-private-white-800: rgba(255,255,255,0.8);
        --g-color-private-white-850: rgba(255,255,255,0.85);
        --g-color-private-white-900: rgba(255,255,255,0.9);
        --g-color-private-white-950: rgba(255,255,255,0.95);
        --g-color-private-white-550-solid: rgb(255,255,255);
        
        --g-color-private-black-50: rgba(0,0,0,0.05);
        --g-color-private-black-100: rgba(0,0,0,0.1);
        --g-color-private-black-150: rgba(0,0,0,0.15);
        --g-color-private-black-200: rgba(0,0,0,0.2);
        --g-color-private-black-250: rgba(0,0,0,0.25);
        --g-color-private-black-300: rgba(0,0,0,0.3);
        --g-color-private-black-350: rgba(0,0,0,0.35);
        --g-color-private-black-400: rgba(0,0,0,0.4);
        --g-color-private-black-450: rgba(0,0,0,0.45);
        --g-color-private-black-500: rgba(0,0,0,0.5);
        --g-color-private-black-550: rgba(0,0,0,0.55);
        --g-color-private-black-600: rgba(0,0,0,0.6);
        --g-color-private-black-650: rgba(0,0,0,0.65);
        --g-color-private-black-700: rgba(0,0,0,0.7);
        --g-color-private-black-750: rgba(0,0,0,0.75);
        --g-color-private-black-800: rgba(0,0,0,0.8);
        --g-color-private-black-850: rgba(0,0,0,0.85);
        --g-color-private-black-900: rgba(0,0,0,0.9);
        --g-color-private-black-950: rgba(0,0,0,0.95);
        --g-color-private-black-550-solid: rgb(112,112,112);
        --g-color-private-black-950-solid: rgb(12,12,12);
        --g-color-private-black-900-solid: rgb(25,25,25);
        --g-color-private-black-850-solid: rgb(37,37,37);
        --g-color-private-black-800-solid: rgb(50,50,50);
        --g-color-private-black-750-solid: rgb(62,62,62);
        --g-color-private-black-700-solid: rgb(74,74,74);
        --g-color-private-black-650-solid: rgb(87,87,87);
        --g-color-private-black-600-solid: rgb(99,99,99);
        --g-color-private-black-500-solid: rgb(124,124,124);
        --g-color-private-black-450-solid: rgb(136,136,136);
        --g-color-private-black-400-solid: rgb(149,149,149);
        --g-color-private-black-350-solid: rgb(161,161,161);
        --g-color-private-black-300-solid: rgb(174,174,174);
        --g-color-private-black-250-solid: rgb(186,186,186);
        --g-color-private-black-200-solid: rgb(198,198,198);
        --g-color-private-black-150-solid: rgb(211,211,211);
        --g-color-private-black-100-solid: rgb(223,223,223);
        --g-color-private-black-50-solid: rgb(236,236,236);
        
        --g-color-private-brand-50: rgba(254,94,0,0.1);
        --g-color-private-brand-100: rgba(254,94,0,0.15);
        --g-color-private-brand-150: rgba(254,94,0,0.2);
        --g-color-private-brand-200: rgba(254,94,0,0.3);
        --g-color-private-brand-250: rgba(254,94,0,0.4);
        --g-color-private-brand-300: rgba(254,94,0,0.5);
        --g-color-private-brand-350: rgba(254,94,0,0.6);
        --g-color-private-brand-400: rgba(254,94,0,0.7);
        --g-color-private-brand-450: rgba(254,94,0,0.8);
        --g-color-private-brand-500: rgba(254,94,0,0.9);
        --g-color-private-brand-550-solid: rgb(254,94,0);
        --g-color-private-brand-1000-solid: rgb(67,39,29);
        --g-color-private-brand-950-solid: rgb(78,42,27);
        --g-color-private-brand-900-solid: rgb(100,49,24);
        --g-color-private-brand-850-solid: rgb(122,55,20);
        --g-color-private-brand-800-solid: rgb(144,62,17);
        --g-color-private-brand-750-solid: rgb(166,68,14);
        --g-color-private-brand-700-solid: rgb(188,75,10);
        --g-color-private-brand-650-solid: rgb(210,81,7);
        --g-color-private-brand-600-solid: rgb(232,88,3);
        --g-color-private-brand-500-solid: rgb(253,109,25);
        --g-color-private-brand-450-solid: rgb(253,125,50);
        --g-color-private-brand-400-solid: rgb(252,140,74);
        --g-color-private-brand-350-solid: rgb(252,156,99);
        --g-color-private-brand-300-solid: rgb(251,171,124);
        --g-color-private-brand-250-solid: rgb(250,186,149);
        --g-color-private-brand-200-solid: rgb(250,202,174);
        --g-color-private-brand-150-solid: rgb(249,217,198);
        --g-color-private-brand-100-solid: rgb(249,225,211);
        --g-color-private-brand-50-solid: rgb(249,233,223);
        
        --g-color-private-orange-50: rgba(255,119,0,0.1);
        --g-color-private-orange-100: rgba(255,119,0,0.15);
        --g-color-private-orange-150: rgba(255,119,0,0.2);
        --g-color-private-orange-200: rgba(255,119,0,0.3);
        --g-color-private-orange-250: rgba(255,119,0,0.4);
        --g-color-private-orange-300: rgba(255,119,0,0.5);
        --g-color-private-orange-350: rgba(255,119,0,0.6);
        --g-color-private-orange-400: rgba(255,119,0,0.7);
        --g-color-private-orange-450: rgba(255,119,0,0.8);
        --g-color-private-orange-500: rgba(255,119,0,0.9);
        --g-color-private-orange-550-solid: rgb(255,119,0);
        --g-color-private-orange-1000-solid: rgb(67,43,29);
        --g-color-private-orange-950-solid: rgb(78,47,27);
        --g-color-private-orange-900-solid: rgb(100,56,24);
        --g-color-private-orange-850-solid: rgb(122,65,20);
        --g-color-private-orange-800-solid: rgb(145,74,17);
        --g-color-private-orange-750-solid: rgb(167,83,14);
        --g-color-private-orange-700-solid: rgb(189,92,10);
        --g-color-private-orange-650-solid: rgb(211,101,7);
        --g-color-private-orange-600-solid: rgb(233,110,3);
        --g-color-private-orange-500-solid: rgb(254,132,25);
        --g-color-private-orange-450-solid: rgb(254,145,50);
        --g-color-private-orange-400-solid: rgb(253,158,74);
        --g-color-private-orange-350-solid: rgb(252,171,99);
        --g-color-private-orange-300-solid: rgb(252,184,124);
        --g-color-private-orange-250-solid: rgb(251,196,149);
        --g-color-private-orange-200-solid: rgb(250,209,174);
        --g-color-private-orange-150-solid: rgb(249,222,198);
        --g-color-private-orange-100-solid: rgb(249,229,211);
        --g-color-private-orange-50-solid: rgb(249,235,223);
        
        --g-color-private-green-50: rgba(59,201,53,0.1);
        --g-color-private-green-100: rgba(59,201,53,0.15);
        --g-color-private-green-150: rgba(59,201,53,0.2);
        --g-color-private-green-200: rgba(59,201,53,0.3);
        --g-color-private-green-250: rgba(59,201,53,0.4);
        --g-color-private-green-300: rgba(59,201,53,0.5);
        --g-color-private-green-350: rgba(59,201,53,0.6);
        --g-color-private-green-400: rgba(59,201,53,0.7);
        --g-color-private-green-450: rgba(59,201,53,0.8);
        --g-color-private-green-500: rgba(59,201,53,0.9);
        --g-color-private-green-550-solid: rgb(59,201,53);
        --g-color-private-green-1000-solid: rgb(38,55,37);
        --g-color-private-green-950-solid: rgb(39,63,38);
        --g-color-private-green-900-solid: rgb(42,81,40);
        --g-color-private-green-850-solid: rgb(44,98,42);
        --g-color-private-green-800-solid: rgb(47,115,44);
        --g-color-private-green-750-solid: rgb(49,132,45);
        --g-color-private-green-700-solid: rgb(52,149,47);
        --g-color-private-green-650-solid: rgb(54,167,49);
        --g-color-private-green-600-solid: rgb(57,184,51);
        --g-color-private-green-500-solid: rgb(78,206,73);
        --g-color-private-green-450-solid: rgb(97,210,92);
        --g-color-private-green-400-solid: rgb(116,215,112);
        --g-color-private-green-350-solid: rgb(135,220,131);
        --g-color-private-green-300-solid: rgb(154,225,151);
        --g-color-private-green-250-solid: rgb(172,229,170);
        --g-color-private-green-200-solid: rgb(191,234,190);
        --g-color-private-green-150-solid: rgb(210,239,209);
        --g-color-private-green-100-solid: rgb(220,241,219);
        --g-color-private-green-50-solid: rgb(229,243,229);
        
        --g-color-private-yellow-50: rgba(255,219,77,0.1);
        --g-color-private-yellow-100: rgba(255,219,77,0.15);
        --g-color-private-yellow-150: rgba(255,219,77,0.2);
        --g-color-private-yellow-200: rgba(255,219,77,0.3);
        --g-color-private-yellow-250: rgba(255,219,77,0.4);
        --g-color-private-yellow-300: rgba(255,219,77,0.5);
        --g-color-private-yellow-350: rgba(255,219,77,0.6);
        --g-color-private-yellow-400: rgba(255,219,77,0.7);
        --g-color-private-yellow-450: rgba(255,219,77,0.8);
        --g-color-private-yellow-500: rgba(255,219,77,0.9);
        --g-color-private-yellow-550-solid: rgb(255,219,77);
        --g-color-private-yellow-1000-solid: rgb(67,58,40);
        --g-color-private-yellow-950-solid: rgb(78,67,43);
        --g-color-private-yellow-900-solid: rgb(100,86,47);
        --g-color-private-yellow-850-solid: rgb(122,105,51);
        --g-color-private-yellow-800-solid: rgb(145,124,56);
        --g-color-private-yellow-750-solid: rgb(167,143,60);
        --g-color-private-yellow-700-solid: rgb(189,162,64);
        --g-color-private-yellow-650-solid: rgb(211,181,68);
        --g-color-private-yellow-600-solid: rgb(233,200,73);
        --g-color-private-yellow-500-solid: rgb(254,222,94);
        --g-color-private-yellow-450-solid: rgb(254,225,111);
        --g-color-private-yellow-400-solid: rgb(253,228,128);
        --g-color-private-yellow-350-solid: rgb(252,231,145);
        --g-color-private-yellow-300-solid: rgb(252,234,163);
        --g-color-private-yellow-250-solid: rgb(251,236,180);
        --g-color-private-yellow-200-solid: rgb(250,239,197);
        --g-color-private-yellow-150-solid: rgb(249,242,214);
        --g-color-private-yellow-100-solid: rgb(249,244,222);
        --g-color-private-yellow-50-solid: rgb(249,245,231);
        
        --g-color-private-red-50: rgba(255,4,0,0.1);
        --g-color-private-red-100: rgba(255,4,0,0.15);
        --g-color-private-red-150: rgba(255,4,0,0.2);
        --g-color-private-red-200: rgba(255,4,0,0.3);
        --g-color-private-red-250: rgba(255,4,0,0.4);
        --g-color-private-red-300: rgba(255,4,0,0.5);
        --g-color-private-red-350: rgba(255,4,0,0.6);
        --g-color-private-red-400: rgba(255,4,0,0.7);
        --g-color-private-red-450: rgba(255,4,0,0.8);
        --g-color-private-red-500: rgba(255,4,0,0.9);
        --g-color-private-red-550-solid: rgb(255,4,0);
        --g-color-private-red-1000-solid: rgb(67,25,29);
        --g-color-private-red-950-solid: rgb(78,24,27);
        --g-color-private-red-900-solid: rgb(100,22,24);
        --g-color-private-red-850-solid: rgb(122,19,20);
        --g-color-private-red-800-solid: rgb(145,17,17);
        --g-color-private-red-750-solid: rgb(167,14,14);
        --g-color-private-red-700-solid: rgb(189,12,10);
        --g-color-private-red-650-solid: rgb(211,9,7);
        --g-color-private-red-600-solid: rgb(233,7,3);
        --g-color-private-red-500-solid: rgb(254,28,25);
        --g-color-private-red-450-solid: rgb(254,53,50);
        --g-color-private-red-400-solid: rgb(253,77,74);
        --g-color-private-red-350-solid: rgb(252,102,99);
        --g-color-private-red-300-solid: rgb(252,126,124);
        --g-color-private-red-250-solid: rgb(251,150,149);
        --g-color-private-red-200-solid: rgb(250,175,174);
        --g-color-private-red-150-solid: rgb(249,199,198);
        --g-color-private-red-100-solid: rgb(249,211,211);
        --g-color-private-red-50-solid: rgb(249,224,223);
        
        --g-color-private-blue-50: rgba(82,130,255,0.1);
        --g-color-private-blue-100: rgba(82,130,255,0.15);
        --g-color-private-blue-150: rgba(82,130,255,0.2);
        --g-color-private-blue-200: rgba(82,130,255,0.3);
        --g-color-private-blue-250: rgba(82,130,255,0.4);
        --g-color-private-blue-300: rgba(82,130,255,0.5);
        --g-color-private-blue-350: rgba(82,130,255,0.6);
        --g-color-private-blue-400: rgba(82,130,255,0.7);
        --g-color-private-blue-450: rgba(82,130,255,0.8);
        --g-color-private-blue-500: rgba(82,130,255,0.9);
        --g-color-private-blue-550-solid: rgb(82,130,255);
        --g-color-private-blue-1000-solid: rgb(41,44,67);
        --g-color-private-blue-950-solid: rgb(44,49,78);
        --g-color-private-blue-900-solid: rgb(48,59,100);
        --g-color-private-blue-850-solid: rgb(53,69,122);
        --g-color-private-blue-800-solid: rgb(58,80,145);
        --g-color-private-blue-750-solid: rgb(63,90,167);
        --g-color-private-blue-700-solid: rgb(68,100,189);
        --g-color-private-blue-650-solid: rgb(72,110,211);
        --g-color-private-blue-600-solid: rgb(77,120,233);
        --g-color-private-blue-500-solid: rgb(99,142,254);
        --g-color-private-blue-450-solid: rgb(115,154,254);
        --g-color-private-blue-400-solid: rgb(132,165,253);
        --g-color-private-blue-350-solid: rgb(148,177,252);
        --g-color-private-blue-300-solid: rgb(165,189,252);
        --g-color-private-blue-250-solid: rgb(182,201,251);
        --g-color-private-blue-200-solid: rgb(198,213,250);
        --g-color-private-blue-150-solid: rgb(215,224,249);
        --g-color-private-blue-100-solid: rgb(223,230,249);
        --g-color-private-blue-50-solid: rgb(231,236,249);
        
        --g-color-private-cool-grey-50: rgba(107,132,153,0.1);
        --g-color-private-cool-grey-100: rgba(107,132,153,0.15);
        --g-color-private-cool-grey-150: rgba(107,132,153,0.2);
        --g-color-private-cool-grey-200: rgba(107,132,153,0.3);
        --g-color-private-cool-grey-250: rgba(107,132,153,0.4);
        --g-color-private-cool-grey-300: rgba(107,132,153,0.5);
        --g-color-private-cool-grey-350: rgba(107,132,153,0.6);
        --g-color-private-cool-grey-400: rgba(107,132,153,0.7);
        --g-color-private-cool-grey-450: rgba(107,132,153,0.8);
        --g-color-private-cool-grey-500: rgba(107,132,153,0.9);
        --g-color-private-cool-grey-550-solid: rgb(107,132,153);
        --g-color-private-cool-grey-1000-solid: rgb(45,44,52);
        --g-color-private-cool-grey-950-solid: rgb(49,50,58);
        --g-color-private-cool-grey-900-solid: rgb(56,60,70);
        --g-color-private-cool-grey-850-solid: rgb(63,70,82);
        --g-color-private-cool-grey-800-solid: rgb(71,81,94);
        --g-color-private-cool-grey-750-solid: rgb(78,91,105);
        --g-color-private-cool-grey-700-solid: rgb(85,101,117);
        --g-color-private-cool-grey-650-solid: rgb(92,111,129);
        --g-color-private-cool-grey-600-solid: rgb(100,122,141);
        --g-color-private-cool-grey-500-solid: rgb(121,144,163);
        --g-color-private-cool-grey-450-solid: rgb(135,155,172);
        --g-color-private-cool-grey-400-solid: rgb(149,167,182);
        --g-color-private-cool-grey-350-solid: rgb(163,178,191);
        --g-color-private-cool-grey-300-solid: rgb(178,190,201);
        --g-color-private-cool-grey-250-solid: rgb(192,202,210);
        --g-color-private-cool-grey-200-solid: rgb(206,213,220);
        --g-color-private-cool-grey-150-solid: rgb(220,225,229);
        --g-color-private-cool-grey-100-solid: rgb(227,231,234);
        --g-color-private-cool-grey-50-solid: rgb(234,236,239);
        
        --g-color-private-purple-50: rgba(143,82,204,0.1);
        --g-color-private-purple-100: rgba(143,82,204,0.15);
        --g-color-private-purple-150: rgba(143,82,204,0.2);
        --g-color-private-purple-200: rgba(143,82,204,0.3);
        --g-color-private-purple-250: rgba(143,82,204,0.4);
        --g-color-private-purple-300: rgba(143,82,204,0.5);
        --g-color-private-purple-350: rgba(143,82,204,0.6);
        --g-color-private-purple-400: rgba(143,82,204,0.7);
        --g-color-private-purple-450: rgba(143,82,204,0.8);
        --g-color-private-purple-500: rgba(143,82,204,0.9);
        --g-color-private-purple-550-solid: rgb(143,82,204);
        --g-color-private-purple-1000-solid: rgb(50,37,60);
        --g-color-private-purple-950-solid: rgb(56,40,68);
        --g-color-private-purple-900-solid: rgb(67,45,85);
        --g-color-private-purple-850-solid: rgb(78,50,102);
        --g-color-private-purple-800-solid: rgb(89,56,119);
        --g-color-private-purple-750-solid: rgb(99,61,136);
        --g-color-private-purple-700-solid: rgb(110,66,153);
        --g-color-private-purple-650-solid: rgb(121,71,170);
        --g-color-private-purple-600-solid: rgb(132,77,187);
        --g-color-private-purple-500-solid: rgb(154,99,208);
        --g-color-private-purple-450-solid: rgb(164,115,213);
        --g-color-private-purple-400-solid: rgb(175,132,217);
        --g-color-private-purple-350-solid: rgb(185,148,222);
        --g-color-private-purple-300-solid: rgb(196,165,226);
        --g-color-private-purple-250-solid: rgb(206,182,230);
        --g-color-private-purple-200-solid: rgb(217,198,235);
        --g-color-private-purple-150-solid: rgb(227,215,239);
        --g-color-private-purple-100-solid: rgb(232,223,241);
        --g-color-private-purple-50-solid: rgb(238,231,244);
        
        
        --g-color-base-brand: #FE5E00;
        --g-color-base-background: #F8F8F8;
        --g-color-base-brand-hover: var(--g-color-private-brand-600-solid);
        --g-color-base-selection: var(--g-color-private-brand-200);
        --g-color-base-selection-hover: var(--g-color-private-brand-300);
        --g-color-line-brand: var(--g-color-private-brand-600-solid);
        --g-color-text-brand: var(--g-color-private-brand-700-solid);
        --g-color-text-brand-heavy: var(--g-color-private-brand-700-solid);
        --g-color-text-brand-contrast: rgb(255, 255, 255);
        --g-color-text-link: var(--g-color-private-brand-600-solid);
        --g-color-text-link-hover: var(--g-color-private-brand-800-solid);
        --g-color-text-link-visited: var(--g-color-private-purple-550-solid);
        --g-color-text-link-visited-hover: var(--g-color-private-purple-800-solid);
}

html,
body,
#root {
    height: 100%;
    min-width: 320px;
    margin: 0;
}
