.wrapper {
    padding-top: 24px;
}

.cardWrapper {
    --g-card-background-color: #ffffff;
    padding-top: 16px;
    gap: 8px;
}

.cardsBox {
    gap: 48px;
}

.cardDesk {
    color: #a5a5a8;
    font-size: 14px;
}
